<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>506abebdae3a5f98fd9822fc4d32b34d</string>
	<key>connections</key>
	<dict>
		<key>03F0F61A-BDC4-4F63-8F6E-DFF5E4D5396A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F7DE7ED-1859-4F14-B259-9452CA0F00D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F7DE7ED-1859-4F14-B259-9452CA0F00D4</key>
		<array/>
		<key>8CA223B5-2E6B-4109-B106-2CA8ECBBAC5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D5BFA17-D370-4323-9A4D-5ADABAAF3B94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D80EAEA6-CB95-4518-BB10-EBBE3ADCB8A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2766B5C-9C5D-4BE4-A748-35C43FCD5C7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CA223B5-2E6B-4109-B106-2CA8ECBBAC5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C00A865B-E24F-4449-9800-1773A74848FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>345B8C39-BF77-4DCB-931B-569A581DC6E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D80EAEA6-CB95-4518-BB10-EBBE3ADCB8A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5AA7E2E-2DD6-4C77-9EDC-9C1F671D3453</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5AA7E2E-2DD6-4C77-9EDC-9C1F671D3453</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C00A865B-E24F-4449-9800-1773A74848FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Killua Chen</string>
	<key>description</key>
	<string>斗图啦，收集了成千上万的撕逼斗图表情包，在这里你可以快速找到想要的表情</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>斗图神器</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>玩命加载中...</string>
				<key>script</key>
				<string>query=$1
php src/Index.php 'search' "{query}"&amp;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>正在搜索 '{query}'</string>
				<key>title</key>
				<string>正在搜索 '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8CA223B5-2E6B-4109-B106-2CA8ECBBAC5E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B2766B5C-9C5D-4BE4-A748-35C43FCD5C7C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php src/Index.php 'download'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D5BFA17-D370-4323-9A4D-5ADABAAF3B94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>斗图</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>345B8C39-BF77-4DCB-931B-569A581DC6E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cp $1 ~/Pictures/dt-placeholder.jpg</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E5AA7E2E-2DD6-4C77-9EDC-9C1F671D3453</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>src/file-to-clipboard ~/Pictures/dt-placeholder.jpg
[ $? -eq "0" ] &amp;&amp; echo "🌈 Copied" || echo "❎ Failed"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C00A865B-E24F-4449-9800-1773A74848FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php src/Index.php 'preview' "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D80EAEA6-CB95-4518-BB10-EBBE3ADCB8A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php src/Index.php 'downloadAll' 1&amp;
php src/Index.php 'downloadAll' 100&amp;
php src/Index.php 'downloadAll' 200&amp;
php src/Index.php 'downloadAll' 300&amp;
php src/Index.php 'downloadAll' 400&amp;
php src/Index.php 'downloadAll' 500&amp;
php src/Index.php 'downloadAll' 600&amp;
php src/Index.php 'downloadAll' 700&amp;
php src/Index.php 'downloadAll' 800&amp;
php src/Index.php 'downloadAll' 900&amp;
php src/Index.php 'downloadAll' 1000&amp;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F7DE7ED-1859-4F14-B259-9452CA0F00D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dadt</string>
				<key>subtext</key>
				<string>可能需要一段时间......</string>
				<key>text</key>
				<string>下载所有图图片-斗图神器</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>03F0F61A-BDC4-4F63-8F6E-DFF5E4D5396A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>03F0F61A-BDC4-4F63-8F6E-DFF5E4D5396A</key>
		<dict>
			<key>note</key>
			<string>下载所有图片</string>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>345B8C39-BF77-4DCB-931B-569A581DC6E9</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>3F7DE7ED-1859-4F14-B259-9452CA0F00D4</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>8CA223B5-2E6B-4109-B106-2CA8ECBBAC5E</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>9D5BFA17-D370-4323-9A4D-5ADABAAF3B94</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>B2766B5C-9C5D-4BE4-A748-35C43FCD5C7C</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>C00A865B-E24F-4449-9800-1773A74848FB</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>D80EAEA6-CB95-4518-BB10-EBBE3ADCB8A7</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>E5AA7E2E-2DD6-4C77-9EDC-9C1F671D3453</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>3.0</string>
	<key>webaddress</key>
	<string>http://larry666.com</string>
</dict>
</plist>
